:root {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #121E34;
  background-color: #D3D3D3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#top-bg {
  position: static;
  margin: -2rem -2rem;
  width: auto;
  height: 800px;
  background-color: #262626;
}

#header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 6rem;
  padding-right: 6rem;
  background-color: #262626;
  margin: -2rem -2rem;
}

#logo {
  padding: 3rem;
  margin-top: -10rem;
}
#logo img {
  margin-bottom: -4rem;
}
#logo h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Outfit, Montserrat, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 126px;

  color: #FFFFFF;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFBF00;
}

#illustration {
  /* position: absolute;
  top: 69px;
  right: 70px; */
  padding: 3rem;
}
#illustration img {
  width: 480px;
  height: 699px;
}

#about {
  display: block;
  padding: 3rem;
  width: 500px;
}

#claim-container {
  padding: 3rem;
  width: 500px;
  text-align: center;
}
#claim-container img {
  width: auto;
  margin-top: -4rem;
  margin-bottom: -4rem;
}
#claim-button {
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;

  width: 265px;
  height: 44px;
  color: black;
  background: #FFBF00;
  box-shadow: -4px -4px 4px rgba(58, 68, 93, 0.5), 4px 4px 4px #060C18;
  border-radius: 8px; 
}

#mid-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#eligibility-section {
  display: flex;
  align-items: top;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.section {
  display: block;
  padding: 1rem 3rem;
  width: 340px;
  flex-basis: 30%;
}
.section:last-of-type {
  display: block;
  padding: 1rem 3rem;
  width: 340px;
  flex-basis: 30%;
  margin-bottom: 3rem;
}

#node-digest {
  display: flex;
  align-items: top;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #262626;
  margin: -2rem -2rem;
}
#node-digest h1 {
  display: inline-block;
  margin-top: 6rem;
  text-align:center;
  color: #FEFFFF;
  font-weight: 800;
  font-size: 2.75rem;
}
#node-digest p {
  display: inline-block;
  margin: auto;
  color: #FEFFFF;
}
#node-digest img {
  display: inline-block;
  padding: 3rem;
}

footer {
  background-color: #262626;
}